In [1]:
import graphlab as gl

In [2]:
people = gl.SFrame("people_wiki.gl/")

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1472832616.log

This non-commercial license of GraphLab Create for academic use is assigned to pauldeepakraj.r@gmail.com and will expire on August 06, 2017.

In [4]:
gl.canvas.set_target("ipynb")

In [5]:
people.show()

In [6]:
len(people)

59071

In [7]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [9]:
people[0]

{'URI': '<http://dbpedia.org/resource/Digby_Morrell>',
 'name': 'Digby Morrell',
 'text': 'digby morrell born 10 october 1979 is a former australian rules footballer who played with the kangaroos and carlton in the australian football league aflfrom western australia morrell played his early senior football for west perth his 44game senior career for the falcons spanned 19982000 and he was the clubs leading goalkicker in 2000 at the age of 21 morrell was recruited to the australian football league by the kangaroos football club with its third round selection in the 2001 afl rookie draft as a forward he twice kicked five goals during his time with the kangaroos the first was in a losing cause against sydney in 2002 and the other the following season in a drawn game against brisbaneafter the 2003 season morrell was traded along with david teague to the carlton football club in exchange for corey mckernan he played 32 games for the blues before being delisted at the end of 2005 he continued to play victorian football league vfl football with the northern bullants carltons vflaffiliate in 2006 and acted as playing assistant coach in 2007 in 2008 he shifted to the box hill hawks before retiring from playing at the end of the season from 2009 until 2013 morrell was the senior coach of the strathmore football club in the essendon district football league leading the club to the 2011 premier division premiership since 2014 he has coached the west coburg football club also in the edflhe currently teaches physical education at parade college in melbourne'}

In [8]:
people[-1]

{'URI': '<http://dbpedia.org/resource/Fawaz_Damrah>',
 'name': 'Fawaz Damrah',
 'text': 'fawaz mohammed damrah arabic fawwz damra was the imam of the islamic center of parma the largest mosque in the cleveland area he participated in numerous interfaith efforts and taught at cleveland state university and the local community college a video made by steven emerson was aired on pbs in one scene damrah is shown raising money for islamic jihad he was not rehired in his teaching positions and the islamic center leadership called for him to step down but he refused the center split between his supporters and those of its trusteesdue to the statements made on the video he was convicted of concealing ties to three groups afghan refugee services the islamic committee for palestine and palestinian islamic jihad all groups the united states government classifies as terrorist organizations and of lying on his citizenship application his united states citizenship was revoked and he was deported to the palestinian west bank in january 2007the bureau of immigration and customs enforcement reported that damrah was delivered to israeli security agents at a west bank crossing controlled by israel on january 26 2007 the plain dealer cleveland ohio reported that damrah had been released from an israeli prison after three weeks in custody and returned to the west bank where he was staying with family'}

In [9]:
people["word_count"] = gl.text_analytics.count_words(people["text"])

In [10]:
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'they': 1, 'gangstergenka... |
| sam henderson born october... | {'currently': 1, 'less': 1... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [11]:
people["tf_idf"] = gl.text_analytics.tf_idf(people["word_count"])

In [21]:
obama = people[people["name"] == "Barack Obama"]

In [44]:
elton = people[people["name"] == "Elton John"]

In [22]:
obama[['tf_idf']].stack('tf_idf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [45]:
elton[['tf_idf']].stack('tf_idf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
| tonightcandle | 10.9864953892 |
|  overallelton | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [46]:
elton[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [25]:
clinton = people[people["name"]=="Bill Clinton"]

In [26]:
beckham = people[people["name"] == "David Beckham"]

In [47]:
victoria = people[people["name"] == "Victoria Beckham"]

In [49]:
paul = people[people["name"] == "Paul McCartney"]

In [27]:
beckham.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tf_idf	dict

Rows: 1

Data:
+-------------------------------+---------------+-------------------------------+
|              URI              |      name     |              text             |
+-------------------------------+---------------+-------------------------------+
| <http://dbpedia.org/resour... | David Beckham | david robert joseph beckha... |
+-------------------------------+---------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tf_idf            |
+-------------------------------+-------------------------------+
| {'bending': 1, 'fifa': 3, ... | {'bending': 7.808441558877... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [32]:
clinton["tf_idf"][0]

{'19': 2.8848176417706224,
 '1946': 3.8033836874819134,
 '1977': 2.6962027980008787,
 '1979': 2.6032908378122737,
 '1979born': 10.293348208665249,
 '1981': 2.5978176200443843,
 '1983': 2.57266471080411,
 '1992': 4.556702628633896,
 '1993': 2.3032794139845048,
 '1994': 2.2375557576874794,
 '1998': 4.1375652641876135,
 '2000': 1.8763068991994527,
 '2001': 3.8560499331742757,
 '2004': 1.6903443608359008,
 '2008': 3.0186782749572307,
 '2009': 4.693309450812809,
 '2010': 1.5928339601219734,
 '2012': 1.7938099524877322,
 '2013': 1.9545642372230505,
 '40': 3.490953445340938,
 '42nd': 6.604468754551313,
 '46': 5.230753175638283,
 'a': 0.06743021367099776,
 'acquitted': 5.923900356198227,
 'active': 2.7479584590534256,
 'address': 4.8023464982877115,
 'after': 1.8886668840026128,
 'against': 2.0079609791418744,
 'age': 2.138848033513307,
 'agreement': 4.6496696580787535,
 'aids': 5.131423467022767,
 'also': 0.4627270916162349,
 'alumnus': 4.985080511264044,
 'american': 3.3821333532750204,
 'an': 0.5964781781637942,
 'and': 0.014157734062925836,
 'any': 2.9959185074812718,
 'approval': 5.7032916604872055,
 'arkansas': 15.446294826177763,
 'as': 0.7630171320744707,
 'associationclinton': 10.986495389225194,
 'at': 0.43063857330825733,
 'attend': 4.347927600058674,
 'attorney': 3.6593720969659014,
 'attributed': 5.874507600868651,
 'august': 2.000173951599175,
 'autobiography': 4.888421107058954,
 'baby': 4.640859028396599,
 'barack': 5.067601534952048,
 'be': 1.4062480045415613,
 'became': 2.6601198661099033,
 'becoming': 2.90749713054004,
 'been': 3.90990934191841,
 'before': 2.9935647453367427,
 'began': 1.727460095710253,
 'beta': 5.38807343022682,
 'between': 2.0402507798946505,
 'bill': 3.1038031829361685,
 'blythe': 7.990763115671204,
 'boomer': 8.042056410058754,
 'born': 0.268196273764765,
 'both': 5.019171177736333,
 'budget': 9.046931864609048,
 'bush': 12.512566197452589,
 'by': 0.7491068241239475,
 'campaign': 3.025822780837077,
 'campaigning': 5.82170941530168,
 'campaigns': 4.504918259948763,
 'candidates': 4.464402591055042,
 'care': 3.916621260766622,
 'causes': 5.075698745184667,
 'centrist': 7.054669756500869,
 'chair': 2.9874881759812397,
 'children': 2.4252853123921825,
 'childrens': 3.5956968674895182,
 'clinton': 49.96600545777229,
 'clintons': 12.782751078181208,
 'cold': 4.918069800981084,
 'complete': 3.788311812123251,
 'congress': 3.6131210793151456,
 'congressional': 4.515695885442592,
 'control': 3.721765211295327,
 'coverage': 4.322086368874786,
 'created': 2.7752840274321713,
 'd': 3.8381496453251267,
 'dating': 5.673289410183407,
 'defeating': 4.285764279677384,
 'degrees': 3.774938655911393,
 'democrat': 8.513342637471437,
 'democratic': 9.308016522999125,
 'described': 3.1584573570993646,
 'during': 1.3174651479035495,
 'earned': 4.768084707716267,
 'earthquake': 5.844831832722535,
 'economic': 3.2704801225826072,
 'education': 2.4487155642005685,
 'elected': 4.47638095369114,
 'end': 2.419560105914143,
 'endofoffice': 10.986495389225194,
 'envoy': 6.486685718894929,
 'expansion': 4.775895312200541,
 'failing': 5.043696014098494,
 'first': 2.0868146141979307,
 'five': 2.2137301792754096,
 'for': 0.5100377054030083,
 'form': 3.233730580373866,
 'foundation': 2.714435767014782,
 'franklin': 4.951013956700438,
 'free': 2.956736868784372,
 'from': 2.6437980418707103,
 'fund': 3.882351296237667,
 'general': 2.220724845237937,
 'generation': 3.9943989618093063,
 'george': 5.591727416643311,
 'georgetown': 5.046324136504762,
 'global': 3.206610274154672,
 'governance': 5.054250201777184,
 'governor': 6.788258521410796,
 'governors': 4.694926249666874,
 'grand': 3.129788596129354,
 'h': 3.9468350393631186,
 'haiti': 17.448034182561127,
 'has': 1.713990158976156,
 'have': 1.4416847832984716,
 'he': 3.20052836488086,
 'health': 8.983694608118151,
 'highest': 3.43846641929018,
 'highly': 3.573128053529954,
 'hillary': 6.002888767516858,
 'him': 1.5755843267871936,
 'his': 1.0504458208546292,
 'history': 2.1447579606246094,
 'house': 4.651096468328522,
 'humanitarian': 4.965472039875668,
 'ii': 3.3077063910260405,
 'iii': 4.273539188548124,
 'impeached': 8.042056410058754,
 'in': 0.01158487620145739,
 'inaugurated': 6.27696518791286,
 'incumbent': 4.181880869162571,
 'insurance': 4.594578275832593,
 'intern': 5.874507600868651,
 'international': 1.457919491753774,
 'into': 1.6050629424066056,
 'involved': 2.674114792438443,
 'involving': 4.620024941493757,
 'is': 0.08284875142655997,
 'j': 3.2558813231614545,
 'jefferson': 10.761386645858394,
 'jury': 4.329768865046803,
 'justice': 3.3410976897965607,
 'kappa': 15.949843398734023,
 'last': 2.407078854628825,
 'later': 1.4294496043477696,
 'law': 7.361467880881711,
 'lawsuit': 5.313172122053702,
 'leader': 2.73196650728545,
 'leaving': 3.3202734635624696,
 'left': 2.191367476812056,
 'life': 2.1907617832744593,
 'longest': 4.613175599648182,
 'many': 1.639964662798746,
 'married': 2.327976261718522,
 'member': 1.2204325126007385,
 'met': 3.361876403065796,
 'millions': 5.230753175638283,
 'most': 1.4186204428983973,
 'musician': 3.0064717969145494,
 'my': 2.903166780438819,
 'named': 2.0300155412252816,
 'national': 2.3721863295447827,
 'nations': 3.361876403065796,
 'new': 1.7743065312250548,
 'nomination': 3.7697859025157365,
 'north': 2.4321991098574545,
 'notably': 3.7639293704030234,
 'obamas': 6.2951475069960505,
 'obstruction': 7.1363477875151355,
 'of': 0.08312352398223048,
 'office': 13.120432058049117,
 'opinion': 4.83376269452109,
 'ousted': 6.2951475069960505,
 'over': 1.4878231559557336,
 'overhauled': 8.278445188122983,
 'oxford': 3.550467572873346,
 'party': 2.3540111534742225,
 'pass': 4.8596262051110095,
 'passed': 4.41002582017697,
 'peacetime': 9.04058524016988,
 'period': 3.028967986994421,
 'perjury': 7.489987827758714,
 'phi': 5.145853731851796,
 'philosophy': 3.5926170991174384,
 'policies': 4.660345916070095,
 'politician': 2.6023765520342987,
 'politics': 3.0398778259807213,
 'polls': 6.088655589274283,
 'presided': 5.606598035684735,
 'presidencyclinton': 10.986495389225194,
 'president': 12.64702125982156,
 'presidential': 7.386955418904825,
 'presidents': 4.520350664987575,
 'prevention': 5.105962402824494,
 'program': 2.393082171897548,
 'providing': 4.288227335109782,
 'psi': 6.892150827003094,
 'public': 4.058227307284814,
 'published': 1.9250031139854273,
 'raised': 3.059531844362216,
 'rated': 5.184377013848131,
 'rating': 5.377023594040234,
 'reform': 8.185678069245117,
 'related': 3.723866788250953,
 'remained': 3.3202734635624696,
 'reported': 3.616894668698785,
 'republican': 3.6037489394862825,
 'rhodes': 5.683190481166118,
 'rodham': 7.690658523220865,
 'roosevelt': 6.27696518791286,
 'scandal': 4.835892620778915,
 'scholarship': 3.67127699947222,
 'school': 1.2227872792173518,
 'secretary': 2.9952414593849954,
 'senate': 3.3880960599012306,
 'senator': 3.9056274925344123,
 'served': 6.145089399722101,
 'serving': 2.8470548673505855,
 'signed': 2.5176524587500038,
 'since': 5.821506869232164,
 'skilled': 5.9175911870049624,
 'speaking': 4.618308202874702,
 'special': 2.7022435916032777,
 'state': 3.418114547433035,
 'states': 7.297601319508024,
 'student': 3.095538673086275,
 'such': 1.763337513538397,
 'surplus': 7.37557747658097,
 'system': 3.0888272384982884,
 'teamed': 4.91345085512479,
 'term': 3.1064471882536173,
 'terms': 3.8240978918694766,
 'the': 0.0030473352772174005,
 'then': 2.861870872312261,
 'they': 1.8993401178193898,
 'third': 2.3506306680914584,
 'thirdyoungest': 9.377057476791094,
 'three': 1.4915025293575952,
 'time': 1.3253342074200498,
 'to': 0.7041740652269884,
 'took': 2.2103282894939196,
 'trade': 3.5105894198577974,
 'twice': 3.3301582227950113,
 'two': 1.0988831858473562,
 'united': 4.703766236011668,
 'university': 1.6946860096423695,
 'us': 5.795971346421418,
 'w': 7.305637987135021,
 'war': 5.619645234553478,
 'warming': 6.27696518791286,
 'was': 0.8730236417340181,
 'way': 2.9688582293167167,
 'welfare': 4.864002579710808,
 'when': 1.3806055739282235,
 'where': 2.178152424181346,
 'white': 3.1974549875677174,
 'who': 2.729685656941264,
 'wifes': 6.812108119329557,
 'william': 9.27541361639871,
 'with': 0.40493728504412135,
 'won': 1.3836400683164753,
 'work': 1.3993637697254548,
 'world': 1.370623244696304,
 'yale': 3.984339434821573,
 'years': 4.300952397698822,
 'york': 1.701047544762206}

In [34]:
gl.distances.cosine(clinton["tf_idf"][0],beckham["tf_idf"][0])

0.9693008710082479

In [35]:
gl.distances.cosine(obama["tf_idf"][0],clinton["tf_idf"][0])

0.8339854936884276

In [48]:
gl.distances.cosine(elton["tf_idf"][0],victoria["tf_idf"][0])

0.9567006376655429

In [50]:
gl.distances.cosine(elton["tf_idf"][0],paul["tf_idf"][0])

0.8250310029221779

In [60]:
knn_model = gl.nearest_neighbors.create(people, features=["tf_idf"], label="name",distance='cosine')

Starting brute force nearest neighbors model training.

In [61]:
knn_model.show()

In [62]:
knn_wc_model = gl.nearest_neighbors.create(people, features=["word_count"], label="name",distance='cosine')

Starting brute force nearest neighbors model training.

In [63]:
knn_model.query(clinton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 19.202ms     |

| Done         |         | 100         | 261.243ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------------+----------------+------+
| query_label |    reference_label     |    distance    | rank |
+-------------+------------------------+----------------+------+
|      0      |      Bill Clinton      |      0.0       |  1   |
|      0      | Hillary Rodham Clinton | 0.56949689935  |  2   |
|      0      |      Dick Morris       | 0.723274147403 |  3   |
|      0      |    Sheffield Nelson    | 0.735625618282 |  4   |
|      0      |    Melanne Verveer     | 0.784165384009 |  5   |
+-------------+------------------------+----------------+------+
[5 rows x 4 columns]

In [41]:
adel = people[people["name"]=="Adel Sellimi"]

In [42]:
knn_model.query(adel)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 20.116ms     |

| Done         |         | 100         | 228.639ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------------------+----------------+------+
| query_label |        reference_label        |    distance    | rank |
+-------------+-------------------------------+----------------+------+
|      0      |          Adel Sellimi         |      0.0       |  1   |
|      0      |          Zoubeir Baya         | 0.816377171216 |  2   |
|      0      |        Ricardo Carvalho       | 0.820276497696 |  3   |
|      0      | Pieter de Villiers (rugby ... | 0.82618510158  |  4   |
|      0      |         Dan Scarbrough        | 0.82619047619  |  5   |
+-------------+-------------------------------+----------------+------+
[5 rows x 4 columns]

In [69]:
knn_wc_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.333ms     |

| Done         |         | 100         | 221.849ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [65]:
knn_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 22.319ms     |

| Done         |         | 100         | 255.555ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [67]:
knn_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 16.733ms     |

| Done         |         | 100         | 258.788ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

In [68]:
knn_wc_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.741ms     |

| Done         |         | 100         | 200.218ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]